$colors: (
  blue: blue,
  yellow: yellow,
);

$sizes: (
  big: 3rem,
  mid: 2rem,
  small: 1rem,
);

:root {
  @each $variable, $value in $colors {
    --#{$variable}: #{$value};
  }

  @each $variable, $value in $sizes {
    --#{$variable}: #{$value};
  }
}
